/* Basic styling for the form container */
form {
  background-color: #ffffff;
  border-radius: 8px;
  max-width: inherit;
  padding: 20px; /* Added padding for better spacing inside the form */
  width: 100%;
  box-sizing: border-box; /* Ensures padding is included in the width calculation */
}

/* Styling for the form labels */
form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

/* Styling for the form inputs */
form input[type="text"],
form input[type="file"],
form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
  transition: border-color 0.3s ease;
}

form input[type="text"]:focus,
form input[type="file"]:focus,
form select:focus {
  border-color: #00427c; /* Highlighting the field when focused */
  outline: none; /* Removes the default browser outline */
}

/* Optional: Add some style to the file input */
form input[type="file"] {
  padding: 5px;
  background-color: #ffffff; /* Light background color for the file input */
  cursor: pointer;
}

/* Styling for the submit button */
form button {
  background-color: #00427c;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  transition: background-color 0.3s ease;
}

form button:disabled {
  background-color: #888;
  cursor: not-allowed;
}

form button:hover:not(:disabled) {
  background-color: #003366;
}

/* Add some space between the form elements */
form div {
  margin-bottom: 15px;
}

/* Center the form */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Adjustments for form container */
.add-teammember-container {
  padding-top: 100px; /* Adjust based on navbar height */
  padding-bottom: 50px;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .add-teammember-container {
    padding-top: 80px;
    padding-left: 15px;
    padding-right: 15px;
  }

  form button {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  form input[type="text"],
  form input[type="file"],
  form select {
    font-size: 12px;
    padding: 8px;
  }

  form button {
    padding: 10px;
    font-size: 14px;
  }
}
